*.credentials
*.log
*.txt
*.war
.owner
builds/
identity.key.enc
lastStable
lastSuccessful
log/
modules/
nextBuildNumber
plugins/
secret.key
secret.key.not-so-secret
secrets/
updates/
war/
workspace*/
